body{
    background-color: #565651;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
main{
    width: 1366px;
    height: 2000px;
    margin: 0 auto;
    background-color: #565651;
}
header{
    width: 1366px;
    height: 250px;
    background-image: url(../img/parcial3.png);
    background-size: cover;
    border-radius: 15px;
    margin-top: 20px;
}
nav{
    width: 1366px;
    height: 80px;
    background-color: #94A4AB;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 15px;
    margin-top: 20px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff; 
    font-size: 15px;
}
nav ul li a:hover{
    color: #8EB2D9; 
    font-size: 20px; 
}
section{
    width: 653px;
    height: 1370px;
    background-color: #8EB2D9;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
    border-radius: 15px;

}
#derecha{
    width: 623px;
    height: 1370px;
    background-color: #8EB2D9;
    float: right;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 15px;
}
.txto{
    width: 613px;
    height: 1300px;
    background-color: #8EB2D9;
    font-size: 20px;
    margin:0 auto;
    margin-top: 10px;
}
section h2{
    text-align: center;
    margin-top: 15px;
}
.txto p{
    text-align: justify;
    margin: 10px 15px;
}
.img{
    width: 583px;
    height: 580px;
    margin: 0 auto;
    margin-top: 20px;
}
.txt{
    width: 583px;
    height: 690px;
    background-color: #8EB2D9;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
}
#derecha h2{
    text-align: center;
    margin-top: 15px; 
}
.txt p{
    text-align: justify;
    margin: 10px 15px;
}
footer{
    width: 1366px;
    height: 240px;
    background-color: #94A4AB;
    position: relative;
    float: inline-end;
    margin-top: 20px;
    border-radius: 15px;
}
footer h2{
    text-align: center;
    margin-top: 1px;
}
.texto{
    width: 1346px;
    height: 190px;
    background-color: #94A4AB;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 0;
}
.texto p{
    text-align: justify;
    margin: 10px 15px;
}